<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="erros" th:if="${message_error}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        <span th:text="${message_error}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div th:fragment="sucesso" th:if="${message_success}" class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle-fill me-2"></i>
        <span th:text="${message_success}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

</body>
</html>